extends layout

block content
  div(class='wrapper')
    section(class='category_content')
      h1= item.name
      p= item.description
      p(class='price') Price: #{item.price}$
      p(class='price') Items in stock: #{item.number_in_stock}
      div.button-ui
        a(href=`/items/delete/${item._id}`)
          button Delete Item
        a(href=`/items/update/${item._id}`)
          button Update Item

